.search-box {
    width: 241px;
    height: 38px;
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
  }
  
  .search-box:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
    outline: none;
  }
  